body {
    margin: 0px;
    font-family: Arial;
    font-size: 13px;
}
@font-face {
	font-family: "sego";
	src: url("../assets/fonts/segoeuii-webfont.eot"); 
	src: local('☺'), url("../assets/fonts/segoeuii-webfont.woff") format('woff'), url("../assets/fonts/segoeuii-webfont.ttf") format('truetype'), url("../assets/fonts/segoeuii-webfont.svg") format('svg');
	font-weight: normal;
	font-style: normal;
}
#wrapper {
	background: #ededed url("../assets/img/background.png") repeat-x;
	height: 100%;
	position: absolute;
	width: 100%;
}
#wrapper .header {
	position: absolute;
	width: 524px;
	height: 571px;
	background: url("../assets/img/logo.png") no-repeat;
	font-family: "sego";
	color: #07403d;
}
#wrapper .header .title {
	font-size: 36px;
	position: absolute;
	top: 52px;
	right: 0px;
}
#wrapper .header .title .bold {
	font-weight: bold;
}
#wrapper .header .subTitle {
	font-size: 10px;
	position: absolute;
	top: 88px;
	left: 176px;
}
#wrapper .registration {
	position: absolute;
	width: 454px;
	height: 440px;
	left: 50%;
	top: 50%;
	margin-left: -227px;
	margin-top: -220px;
	
	background: #FFF;
	
	-webkit-box-shadow: 0px 2px 5px 0px #DDD;
	-moz-box-shadow:    0px 2px 5px 0px #DDD;
	box-shadow:         0px 2px 5px 0px #DDD;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
}

#wrapper .registration .formHeader {
	font-family: "sego";
	font-size: 16px;
	color: #FFF;
	background: #02afa6;
	height: 40px;
	line-height: 40px;
	padding-left: 16px;
	
	-webkit-border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px;
}
#wrapper .registration .footer {
	background: #F6F6F6;
	height: 74px;
	position: absolute;
	bottom: 0px;
	width: 100%;
	-webkit-border-radius: 0px 0px 8px 8px;
	-moz-border-radius: 0px 0px 8px 8px;
	border-radius: 0px 0px 8px 8px;
}
#wrapper .registration .footer .formButton {
	margin: 22px auto 0px auto;
}
#wrapper .registration .footer .formButton.active {
	cursor: pointer;
	background: #02afa6;
}
#wrapper .registration .inputs {
	margin-left: 20px;
	margin-top: 20px;
}
#wrapper .registration .inputs .inputForm {
	margin-bottom: 20px;
}
#wrapper .registration .inputs .strengthCounter {
	top: 118px;
	left: 374px;
}
/*
	General
* */
.formButton {
	width: 168px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-family: "sego";
	font-weight: bold;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #FFF;
	background: #92E7E3;
	line-height: 30px;
}
.inputForm {
	width: 350px;
	height: 30px;
	line-height: 30px;
}
.inputForm .label {
	float: left;
	line-height: 30px;
}
.inputForm input, .inputForm select {
	float: right;
	width: 168px;
	height: 28px;
	margin-right: 5px;
	line-height: 30px;
	background:  #e9e9e9;
	border: 1px solid #b2b2b2;
	padding-left: 10px;
	
	-webkit-box-shadow: inset 0px 5px 0px 0px #DDD;
	-moz-box-shadow: inset 0px 5px 0px 0px #DDD;
	box-shadow: inset 0px 5px 0px 0px #DDD;
}
.inputForm select {
	width: 180px;
}
.inputForm input:focus, .inputForm select:focus {
	outline: none !important;
    border: 2px solid #02afa6;
}

.inputForm .state {
	float: right;
	width: 24px;
	height: 30px;
	background: url("../assets/img/checkFalse.png") no-repeat center;
	line-height: 30px;
}
.inputForm .state.valid {
	background: url("../assets/img/checkTrue.png") no-repeat center;
}
.tooltip {
	position: absolute;
	width: 268px;
	height: 120px;
	background: url("../assets/img/tooltipBg.png") no-repeat;
	font-size: 11px;
	line-height: normal;
}
.tooltip .info {
	position: absolute;
	width: 236px;
	top: 10px;
	left: 20px;
}
.tooltip .passwStrength {
	position: absolute;
	left: 20px;
	top: 70px;
}
.tooltip .bar {
	position: absolute;
	top: 90px;
	left: 28px;
}
.tooltip .bar .level {
	height: 13px;
	width: 74px;
	float: left;
	background: #c6c6c6;
    margin-right: 1px;
    display: table;
}
.tooltip .bar .level.active {
    background: #02afa6;
}
